<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">

		<title></title>

		<link type="image/x-icon" rel="shortcut icon" href="/images/layout/favicon.png">

		<link rel="stylesheet" href="/assets/new-index.css">

		{#
		<link rel="stylesheet" href="/css/syntax.css">
		<link rel="stylesheet" href="/css/print.css" media="print">
		#}

		{#
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-25413797-1']);


			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'),
					s = document.getElementsByTagName('script')[0];

				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

				s.parentNode.insertBefore(ga, s);
			})();
		</script>
		#}
	</head>

	<body class="www-jtarthur-net {{ bodyClass }}">
		<div class="Banner" role="banner">
			<a href="/" title=" [http://jtarthur.net]">John Arthur</a>
		</div>

		<ul role="navigation" class="NavMain">
			<li class="NavMain-wrapper"><a href="{{ route('about') }}" title="About Me |  [http://jtarthur.net]" class="NavMain-link">About</a></li>
			<li class="NavMain-wrapper"><a href="{{ route('experience') }}" title="Experience |  [http://jtarthur.net]" class="NavMain-link">Experience</a></li>
			<li class="NavMain-wrapper"><a href="{{ route('contact') }}" title="Contact |  [http://jtarthur.net]" class="NavMain-link">Contact</a></li>
		</ul>

		<div role="main">
			{{ block('mainContent') }}
		</div>

		<div class="Footer" role="contentinfo">
			<address class="h-card contact Footer-identity">
				<a class="p-name p-org u-url" href="{{ route('home') }}" title="John Arthur [www.jtarthur.net]" rel="me"><span class="p-given-name">John</span> <span class="p-family-name">Arthur</span></a>
				|
				<span class="h-adr p-adr">
					<span class="p-locality">Lincoln</span>,
					<span class="p-region">Nebraska</span>
				</span>
				|
				<span class="u-email">john@jtarthur.net</span>
				|
				<a href="http://www.linkedin.com/pub/john-arthur/3/b60/591" style="text-decoration:none;">
					<img src="http://s.c.lnkd.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" alt="View John Arthur's LinkedIn profile" style="vertical-align:middle" width="20" border="0" height="15">
				</a>
			</address>
			<p>Design and Content © John Arthur</p>
		</div>

		<!-- build:js /assets/js/jta.js -->
		<!--
	  <script src="/assets/js/lib/jquery/jquery.min.js"></script>
	  <script src="/assets/js/jta.js"></script>
	  -->
	  <!-- endbuild -->

	</body>
</html>
